@media (max-width: 480px) {
  .prs1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .prs1 {
    font-size: 2rem;
  }
  .bg1{
    width:100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .prs1 {
    font-size: 2.5rem;
  }
}
