.fy_r_c {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem;
      padding: 0 5rem;
      box-sizing: border-box;
    }

    .submenu-item {
      position: relative;
      cursor: pointer;
      height: 165px;
      overflow: hidden;
      box-sizing: border-box;
    }
    .ad-item{
      height:165px;
    }

    .submenu-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 1s ease-in-out;
    }

    .submenu-item:hover img {
      transform: scale(1.1);
    }

    .submenu-item > span {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      color: white;
    }


    .fy_mobile{
      width: calc(-367px + 100vw);
      left: 367px !important;
    }
    .fy_r_c_1{
      flex-basis: 30%;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    @media screen and (max-width: 480px) {
      .fy_r_c_1{
        margin-right:0;
      }
      .fy_r_c{
        padding:0;
        row-gap: 1rem;
        column-gap: 1rem;
      }
      .ad-item {
      height: auto;
      }
      .hdt-header-menu-mobile::part(content){
        min-width: 28vw;
        width: 28vw;
        padding-left: 0;
        padding-right: 0;
      }
      .fy_mobile{
        width: 72vw;
        left: calc(28vw)!important;
        padding-left: 1px;
        flex-direction: column;
        padding-right: .1rem;
      }
      .fy_mb{
        flex-direction: column;
      }
      .fy_r_c{
        overflow-y:scroll;
        margin-bottom: 50px;
        align-content: flex-start;
        justify-content: center;
      }
      :where(.hdt-header-menu-mobile)::part(body){
        padding-inline-end:0;
      }
      .submenu-item{
        height:160px;
      }
      .submenu-item img[long]{
        height:auto;
      }
      .submenu-item img[tall]{
        height:160px;
      }
      .submenu-item:has(img[long]) {
        height: auto !important;
      }
      .submenu-item:has(img[tall]) img {
        height: 160px !important;
      }
      .submenu-item img{
        max-width:100%;
        width: auto;
      }
      .menu-details[aria-expanded=true] .hdt-menu-link-text{
        color:rgb(146,41,204)
      }
      details[aria-expanded=true],details[aria-expanded=true] ul{
        background:rgb(258,234,220) !important;
      }
      .hdt-menu-item:has(details[aria-expanded=true]){
        background:rgb(258,234,220) !important;
      }
      .hdt-drawer-not-header::part(content)::-webkit-scrollbar {
        display: none;
      }
      .hdt-header-menu-mobile .hdt-site-nav_icon>a{
        background-color:white;
      }
      .fy_mb .hdt-site-nav_icon>a{
        padding: 0 .4rem;
      }
      .fy_mb div{
        margin:0 auto;
      }
      #hdt-nav-ul-mb>li{
        padding-left:1em;
        line-height: 40px;
      }
      @supports not (selector(:has(*))) {
  .hdt-menu-item.open {
    background: rgb(258, 234, 220) !important;
  }
}
    }
    .ad-item img{
      height: 100%;
      width: auto;
    }
