@media (max-width: 480px) {
  .prs1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .prs1 {
    font-size: 2rem;
  }
  .bg1{
    width:100%;
  }
  .see1{
    padding:0; 
   }
  .product__info-wrapper{
    max-width:100%;
    width:100%;
    margin-top: calc(100%* calc(737 / 1680));
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .prs1 {
    font-size: 2.5rem;
  }
}
